/* General styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100dvh;
    background-image: radial-gradient(
        25.38% 41.96% at 3.49% 45.05%,
        rgb(255, 0, 0) 0%,
        rgb(164, 13, 13) 22%,
        rgb(107, 10, 10) 44%,
        rgb(10, 10, 10) 100%
    );
    animation: pulseGradient 1s alternate ease-in-out 2;
}

@keyframes pulseGradient {
    0% {
        background-image: radial-gradient(
            25.00% 41.96% at 3.49% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    10% {
        background-image: radial-gradient(
            25.00% 41.96% at 13% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    20% {
        background-image: radial-gradient(
            25.00% 41.96% at 23% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }

    30% {
        background-image: radial-gradient(
            25.00% 41.96% at 33% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    40% {
        background-image: radial-gradient(
            25.00% 41.96% at 43% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    50% {
        background-image: radial-gradient(
            25.00% 41.96% at 53% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    60% {
        background-image: radial-gradient(
            25.00% 41.96% at 63% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    70% {
        background-image: radial-gradient(
            25.00% 41.96% at 73% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    80% {
        background-image: radial-gradient(
            25.00% 41.96% at 83% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    90% {
        background-image: radial-gradient(
            25.00% 41.96% at 93% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
    100% {
        background-image: radial-gradient(
            25.00% 41.96% at 97% 45.05%,
            rgb(255, 0, 0) 0%,
            rgb(164, 13, 13) 22%,
            rgb(107, 10, 10) 44%,
            rgb(10, 10, 10) 100%
        );
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
